.container__topo {
    text-align: center;
    margin: 6em;
    font-family: var(--font-principal);
}

.topo__texto {
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: 600;
}

.topo__texto--content {
    color: var(--cor-secundaria);
    font-weight: 500;
}

.topo__titulo {
    color: var( --cor-font);
    font-size: 48px;
    font-weight: 600;
    padding: 1.5em 0em;
}

.topo__descricao {
    color: var( --cor-menu-link);
    font-size: 20px;
    margin: 0em 9em;
}

.topo__titulo--meio {
    font-family: var(--font-principal);
    font-size: 36px;
    font-weight: 600;
    padding: 1.5em 0em;
}

.container__vagasabertas {
    text-align: center;
    font-family: var(--font-principal);
    margin-bottom: 4em;
}

.estilofundo {
    background-color: var(--cor-background-content);
    border-radius: 16px;
    padding: 4em;
    margin: 4em;
}

.estilofont {
    font-weight: 500;
}

.topo__nome {
    padding: 1em 0em;
    color: var(--cor-font);
    font-size: 16px;
    font-weight: 500;
}

.topo__funcao {
    color: var(--cor-menu-link);
}